<div class="exercise">
  <p class="question">{{html question }}</p>
  <ul class="answers">
    {{each(i) answers}}
      <li class="answer">
        <input type="radio" name="{{= exercise_id}}" data-index="{{= i}}"/>
        {{= answers[i]}}
      </li>
    {{/each}}
  </ul>
</div>