<div class="invitation">
  {{each(i) exes}}
    <div class="exercise">
      <p class="question"><strong>{{= i+1}}.</strong> {{html exes[i].question }}</p>
      <ul class="answers">
        {{each(j) exes[i].answers}}
          <li class="answer">
            <input  type="radio" 
                    name="{{= exes[i].exercise_id}}" 
                    data-index="{{= j}}" 
                    {{if givenanswers[i]==j}}checked{{/if}}/>
            {{html exes[i].answers[j]}}
          </li>
        {{/each}}
      </ul>
      {{if exes.length - 1 > i}}<hr />{{/if}}
    </div>
  {{/each}}
  <input type="button" class="submit submitButton orangeButton disabled" value="Wyślij" />
</div>